/*!LAST UPDATED: July 27, 2020*/
/*!==== INDEX ====
    0. LIGHTBOX1 (Updated: July 25, 2020)
    1. TS2_HEADER2 (Updated: June 5, 2020) [based on TS2_HEADER1]
    2. TS2_FEATURED2 (Updated: July 2, 2020) [Based on TS2_FEATURED1]
    4. TS2_PRO-DET1 (Updated: July 24, 2020)
    5. TS2_FEATURED1 (Updated: July 24, 2020)
    7. TS2_QUOTE2 (Updated: July 27, 2020)
    MEDIA QUERIES (Updated: July 27, 2020)

==== INDEX ====*/

/*!==== 0. POPUP1 ====*/
/*TEXT STYLES*/
.popup1_content > .h2s{
  color:var(--color2-normal);
}

.popup1_content > .p1s,
.popup1_content > .note1{
  color:var(--black-normal);
}
/*TEXT STYLES*/

/*DETAILS*/
.popup1_i1{ 
  width:100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin:2.5rem auto 1rem auto;
}

.popup1_i1 i{ 
  margin:0 0.5rem;
  font-size: 2.5rem;
  color: var(--black-normal);
}
/*DETAILS*/
#popup1_bg{
  background: hsla(var(--black), 0%, 0%, 0.9);
  width:100%;
  height:100vh;
  top:0;
  left:0;
  
  display:none;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  position:fixed;
  z-index:9900;
}

#popup1_wrapper{
  display:none;
  position:fixed;

  z-index:9910;
}
/*popup content*/
.popup1_content{
  background: var(--color3-normal);
  max-width: 70%;
  max-height: 100vh;
  padding: 2rem;
  margin: auto;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  box-shadow: 15px 15px 25px var(--black-normal);
}
/*popup content*/
/*!==== 0. POPUP1 ====*/

/*!==== 1. TS2_HEADER2 ====*/

/*TEXT STYLES*/
.TS2_header2_title {
  color: var(--color3-normal);
  text-align: left;
  hyphens: manual;
}

.TS2_header2_p1{
  text-align: left;
  color: var(--white-normal);
}

/*.TS2_header2_note-container> .note1,
.TS2_header2_note-container> p > .note-lt{
  color: var(--white-normal);
  margin: 0.5rem 2rem 0.5rem 0;
} */
/*TEXT STYLES*/
.TS2_header2 {
  width: 100%;
  min-height: 100vh;
  display:flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items:center;

  background-position: center;
  background-size: cover;

  position:relative;
  z-index: 100;
}
.TS2_header2 svg{
  display:block;
  width: 100%;
  bottom:-2px;
  left:0;

  position: absolute;
  z-index: 200;
}

/*HEADER1 INFO*/
.TS2_header2-info{
  width: 50%;
  padding: 2rem;
  margin: 0 auto 0 4rem;
  background: hsla(var(--black), 0%, 0%, 0.7);
  z-index: 210;
}
/*HEADER INFO*/

/*DETAILS*/

.TS2_header2_buttons-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0.5rem 0 0 0;
}

/*CUSTOM SETTINGS FOR SCROLL BUTTON 2*/
.TS2_header2 > .sdb2-wrapper{
  position: absolute;
  bottom:0;
  z-index: 202;
}
.TS2_header2 > .sdb2-wrapper > a{
  margin: 2rem 0 0 0;
}

.TS2_header2 > .sdb2-wrapper > a > span{
  border-left: 2px solid var(--color2-normal);
  border-bottom: 2px solid var(--color2-normal);
}

/*CUSTOM SETTINGS FOR SCROLL BUTTON 2*/

/*DETAILS*/

/*!==== 1. TS2_HEADER2 ====*/

/*!==== 2. TS2_FEATURED2 ====*/
/*some styles cab be found in the TS2_FEATURED1 section below.*/
.TS2_featured2_item-description > .TS2_featured1_item-h3,
.TS2_featured2_item-description > .TS2_featured1_item-p1s{
  user-select:text;
}

.TS2_featured2_container{
  margin-bottom: 0 !important; 
}
.TS2_featured2_items-wrapper{
  width:75%;
  margin: 4rem 0 0 0;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:3rem;
}
/*EMBEDDED FROM PRINCING 1 (TS1) - modded!*/
.TS2_featured2_items {
  max-width: 400px;
  margin: 0 auto 0 auto ;
  display: flex;
  flex: 0 0 auto;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  transition: var(--a250ms);
}

.TS2_featured2_item-description{
  height: auto;
  width:100%;
  margin: 0 auto auto auto;
  padding: 1rem 1.5rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

/*LAST UPDATED: SEPTEMBER 11, 2019*/
/*EMBEDDED FROM SQUARE-ITEMS 1*/
.square-items2 {
  background-color: var(--white-normal);
  width: 60%;
  border-radius: 100%;
  box-shadow: 5px 5px 10px hsla(var(--black), 0%, 0%, 0.2);
  position: relative;
  overflow: hidden;
  user-select: none;
}

.square-items2:after {
  content: "";
  display: block;
  padding-top: 100%;
}

.square-items2_content {
  position: absolute;
  /*height: 100%;/*Serve 1:1 images or disable this in favor of the code below!(it also depends if content is in HTML or CSS)*/
  width: 60%; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*EMBEDDED FROM SQUARE-ITEMS 1*/
/*EMBEDDED FROM PRINCING 1 (TS1)*/

/*!==== 2. TS2_FEATURED2 ====*/

/*!==== 4. TS2_PRO-DET1 ====*/

/*TEXT STYLES*/
.TS2_pro-det1_h2 {
  color: var(--color3-normal);
  text-align: left;
  margin-top: 1rem;
}

.TS2_pro-det1_p1{
  text-align: left;
  color:var(--white-normal);
  margin: 0.5rem 0 2rem 0;
}

.TS2_pro-det1_l1 > .p1s{
  color: var(--white-normal);
  text-align:left;
}
.TS2_pro-det1_l1 > .p1s > .bold{
  color: var(--color3-normal);
}
.list-title1{
  color: var(--color3-normal);
  text-align: left;
  margin:0;
}

.TS2_pro-det1_note-container> .note1,
.TS2_pro-det1_note-container> p >.note-lt{
  color: var(--white-normal);
  margin: 0.5rem 2rem 0.5rem 0;
  text-align: left;
} 
/*TEXT STYLES*/
.TS2_pro-det1 {
  width: 100%;
  min-height: 100vh;
  display:flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items:center;
}

.TS2_pro-det1_wrapper{
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  position: relative;
  z-index:200;
}

.svgt{
  display:block;
  width: 100%;
  top:-2px;
  left:0;

  position: absolute;
  z-index: 210;
}/*svg top*/

.svgb{
  display:block;
  width: 100%;
  bottom:-2px;
  left:0;

  position: absolute;
  z-index: 210;
}/*svg bottom*/

#svgb-fix{
  margin-bottom: 4rem;
}

/*CONTAINER 1 (TITLE AND PARAGRAPH)*/
.TS2_pro-det1_container1 {
  width: 55%;
  min-height: 100%;
  padding: 4rem 1rem;
  margin: 0px auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
/*CONTAINER 1 (TITLE AND PARAGRAPH)*/

/*CONTAINER 2 (IMAGE WRAPPER)*/
.TS2_pro-det1_container2 {
  min-height: 100vh;
  width:55%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;  
  justify-content: center;
  /*enable when images are place with css*/
  background-position: center;
  background-size: cover;
  /*enable when images are place with css*/
}

/*BACKGROUND IMGs*/
/*pro-det_alitas1*/
.no-webp #pro-det_alitas1{
  background-image: url(../../assets/product/alitas/alitas3.jpg);
}

.webp #pro-det_alitas1{
  background-image: url(../../assets/product/alitas/alitas3.webp);
}

.no-js #pro-det_alitas1 {
  background-image: url(../../assets/product/alitas/alitas3.jpg);
}
/*pro-det_alitas1*/

.TS2_pro-det1_media-wrapper{
width: 100%;
}/*Media wrapper, images or vidos go here*/

/*INFO*/
.TS2_pro-det1_info{
  width: 80%;
  margin: 4rem auto 6rem auto;
}

/*LIST STYLES*/
/*
TS2_pro-det1_l1: <ul>,<ol> wrapper
TS2_pro-det1_l2: <ul>,<ol> wrapper 2
TS2_pro-det1_lis1: <ul>,<ol> List Item Styles
TS2_pro-det1_lis2: <ul>,<ol> List Item Styles 2
*/

.TS2_pro-det1_l1,
.TS2_pro-det1_l2{
  list-style: none;
  margin: 1 0 2rem 0;

  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
}/*List containers*/

.TS2_pro-det1_l2{
  margin: 0 0 2rem 0;
}/*<dl> wrapper*/

.TS2_pro-det1_lis1,
.TS2_pro-det1_lis2{
  width: 100%;
  margin: 0.5rem 0;
  
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}/*<ol>, <ul>, <dl> List Items*/

.TS2_pro-det1_lis2{
  margin: 1rem 0;
}/*<dl> List Items*/

.TS2_pro-det1_lis1 > div > .note-container,
.TS2_pro-det1_lis2 > div > .note-container{  
  width:100%;
  margin-top: 0.5rem;
}

/*Text styles*/
.TS2_pro-det1_lis1 > i,
.TS2_pro-det1_lis2 > i{
  color: var(--color1-normal);
  margin: 0.3em 0.55em auto 0;
}

.TS2_pro-det1_lis1 > div .p1s,
.TS2_pro-det1_lis2 > div .p1s{
  margin:0;
  color: var(--white-normal);
  text-align: left;
}
.TS2_pro-det1_lis1 > div .underline,
.TS2_pro-det1_lis2 > div .underline{
  text-decoration-color: var(--color1-normal);
}

.TS2_pro-det1_lis2-desc{
  color: var(--white-normal);
  font-size: 0.85rem;
  line-height: 1.7;
  text-align: left;
}/*for <dd> */

.TS2_pro-det1_lis1 > div > .note-container p,
.TS2_pro-det1_lis2 > div > .note-container p{
  color: var(--white-normal);
  font-size: 0.7rem;
  text-align: left;
  width:100%;
}
/*LIST STYLES*/
/*INFO*/

/*DETAILS*/
.TS2_pro-det1_buttons-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0.5rem 0 0 0;
}
/*!==== 4. TS2_PRO-DET1 ====*/

/*!==== 5. TS2_FEATURED1 ====*/
/*TEXT STYLES*/
.TS2_featured1_h2,
.TS2_featured2_h2{
  color: var(--color2-normal);
  width:80%;
  margin: 0.45rem auto;
}

.TS2_featured1_item-h3,
.TS2_featured1_item-description > .note1,
.TS2_featured1_item-p1s{
  user-select: none;
}
.TS2_featured1_item-h3{
  color:var(--color2-normal);
  font-size:2rem;
}
.TS2_featured1_p1,
.TS2_featured2_p1{
  width:80%
}

.TS2_featured1_item-description > .note1{
  margin: 0.5rem 0;
}

.TS2_featured1_item-p1s{
  font-size: 1rem ;
}
/*TEXT STYLES*/

.TS2_featured1,
.TS2_featured2{
  width:100%;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative; 
}

.TS2_featured1 svg{
  display:block;
  width: 100%;
  bottom:-2px;
  left:0;
  position: absolute;
  z-index:200;
}

.TS2_featured1_container,
.TS2_featured2_container{
  width: 100%;
  min-height: 70%;

  display: flex;
  flex-flow: column nowrap;
  justify-content:space-between;
  align-items: center;

  margin-bottom: 8rem;

}/*main container*/

.TS2_featured1 > .buttons-container{
  z-index:210;
}

.TS2_featured1_items-wrapper{
  width: 75%;
  margin: 3rem 0 1rem 0;

  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  scrollbar-width: auto;
  scrollbar-color: hsla(var(--black), 0%, 0%, 0.5) hsla(var(--black), 0%, 0%, 0.15);
}/*container where items are placed*/

/*scrollbar styles (chrome, safari)*/
.TS2_featured1_items-wrapper::-webkit-scrollbar {
  height:12px;
}

.TS2_featured1_items-wrapper::-webkit-scrollbar-track {
  background: hsla(var(--black), 0%, 0%, 0.15);
}

.TS2_featured1_items-wrapper::-webkit-scrollbar-thumb {
  background-color:hsla(var(--black), 0%, 0%, 0.5);
  border-radius: 20px;
}
/*scrollbar styles (chrome, safari)*/
#TS2_featured1_items-wrapper_note-1{
  display: block;
  font-size: 0.8rem;
  opacity: 0.7;
  margin-top: 1rem;
  user-select: none;
}/*tip on desktop*/

#TS2_featured1_items-wrapper_note-2{
  display: none;
  font-size: 0.8rem;
  opacity: 0.7;
  margin-top: 1rem;
  user-select: none;
}/*tip on mobile*/
#TS2_featured1_items-1{
  margin-left: 0;
}

/*EMBEDDED FROM PRINCING 1 (TS1) - modded!*/
.TS2_featured1_items {
  max-width: 400px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--white-normal);
  transition: var(--a250ms);
  box-shadow: var(--shadow1);

  flex: 0 0 auto;
  margin: 0 2.5rem;
}

.TS2_featured1_item-description{
  height: auto;
  width:100%;
  margin: auto 0;
  padding: 2rem 1.5rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

/*LAST UPDATED: SEPTEMBER 11, 2019*/
/*EMBEDDED FROM SQUARE-ITEMS 1*/
.square-items1 {
  position: relative;
  width: 100%;
  overflow: hidden;
  /*float:left; For preview purposes only, delete when not needed!*/
  user-select: none;
}

.square-items1:after {
  content: "";
  display: block;
  padding-top: 100%;
}

.square-items1_content {
  position: absolute;
  /*height: 100%;/*Serve 1:1 images or disable this in favor of the code below!(it also depends if content is in HTML or CSS)*/
  width: 100%; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*EMBEDDED FROM SQUARE-ITEMS 1*/
/*EMBEDDED FROM PRINCING 1 (TS1)*/

/*DETAILS*/

/*DETAILS*/
/*!==== 5. TS2_FEATURED1 ====*/

/*!==== 7. TS2_quote2 ====*/

/*TEXT STYLES*/
.TS2_quote2_h2s{
  color: var(--color3-normal);
  width: 100%;
  text-align: left;
}

.TS2_quote2_p1s{
  color: var(--white-normal);
  width: 100%;
  text-align: left;
}
.TS2_quote2 > .note-container > p{
  color:var(--white-normal);
}
/*TEXT STYLES*/

.TS2_quote2{
  min-height:50vh;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
.TS2_quote2_container{
  width:75%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
/*Left container*/
.TS2_quote2_L{
  width:55%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.TS2_quote2_L .buttons-container{
  margin: 0.5rem 0 0 0;
  justify-content: flex-start;
}
.TS2_quote2 > .note-container{
  margin-top: 3rem;
}
/*Left container*/

/*Right container*/
.TS2_quote2_R{
  width:30%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.TS2_quote2_R > .square-items1 {
  width: 100%;
  margin: auto auto 3rem auto;
}

.TS2_quote2_R > .square-items1:after {
  padding-top: 100%;
}

.TS2_quote2_R > .square-items1 > .square-items1_content {
  position: absolute;
  width: 100%; 
  color: #fff;
}
/*Right container*/

/*DETAILS*/

/*DETAILS*/

/*!==== 7. TS2_quote2 ====*/

/*!==== MEDIA QUERIES====*/
@media screen and (min-width:2000px){
  /*1. TS2_HEADER2*/
  .TS2_header2-info{
    width:40%;
  }
  /*1. TS2_HEADER2*/
  /*2. TS2_FEATURED2*/
  .TS2_featured2_items-wrapper{
    width:50%;
  }
  /*2. TS2_FEATURED2*/
  /*1. TS2_HEADER2*/
  .TS2_pro-det1_info{
    margin: 10rem auto;
  }
  /*4. TS2_PRO-DET1*/

  /*5. TS2_FEATURED1*/
  .TS2_featured1_items-wrapper{
    width: 60%;
  }
  /*5. TS2_FEATURED1*/
  /*7. TS2_QUOTE2*/
  .TS2_quote2_container{
    width:50%;
  }
  /*7. TS2_QUOTE2*/
}

@media screen and (max-width:1440px){
    /*1. TS2_HEADER2*/
    .TS2_header2-info{
      width: 60%;
    }
    /*1. TS2_HEADER2*/
  /*2. TS2_FEATURED2*/
  .TS2_featured2_items-wrapper{
    width:85%;
  }
  .TS2_featured2_items{
    margin: 0;
  }
  /*2. TS2_FEATURED2*/

  /*4. TS2_PRO-DET1*/

  /*4. TS2_PRO-DET1*/

  /*5. TS2_FEATURED1*/
  .TS2_featured1_items-wrapper{
    width:80%;
  }
  .TS2_featured1_items{
    width:325px;
  }
  .TS2_featured1_item-description {
    padding: 1.5rem;
  }
  /*5. TS2_FEATURED1*/

  /*7. TS2_quote2*/
  .TS2_quote2_container{
    width:85%;
  }
  .TS2_quote2_L{
    width:60%;
  }
  .TS2_quote2_R{
    width:35%;
  }
  /*7. TS2_quote2*/
}

@media screen and (max-width:1280px){
  /*4. TS2_PRO-DET1*/
  .TS2_pro-det1_info{
    width: 85%;
  }
  /*4. TS2_PRO-DET1*/

  /*5. TS2_FEATURED1*/
  .TS2_featured1_items-wrapper{
    width:85%;
  }
  /*5. TS2_FEATURED1*/

  /*7. TS2_quote2*/
  
  /*7. TS2_quote2*/
  
}/*Small Laptops*/

@media screen and (max-width:1150px){
  /*1. TS2_HEADER2*/
    .TS2_header2-info{
    width: 65%;
    margin: 0 auto 0 3rem;
  }
  /*1. TS2_HEADER2*/
}

@media screen and (max-width: 1024px) {
  /*2. TS2_FEATURED2*/
  .TS2_featured1_item-h3 {
    font-size: 1.563rem;
  }
  /*2. TS2_FEATURED2*/
  /*5. TS2_FEATURED1*/
  .TS2_featured1_items-wrapper{
    width:95%;
  }
  .TS2_featured1_item-description {
    padding: 1.25rem;
  }
  /*5. TS2_FEATURED1*/
}
@media screen and (max-width:900px), (min-height:1200px){
  /*0. POPUP1*/
  .popup1_content{
    max-width: 70%;
  }
  /*0. POPUP1*/
  /*1. TS2_HEADER2*/
  .TS2_header2_title {
    text-align: center;
  }

  .TS2_header2_p1 {
    text-align: center;
  }

  /*.TS2_header2_note-container{
    width:100%;
    align-items: center;
  }

  .TS2_header2_note-container > .note1,
    .TS2_header2_note-container > .note2{
    margin: 0.5rem auto;
  }
  .TS2_header2_buttons-container {
    align-items: center;
    justify-content: center;
  }*/
  .TS2_header2_buttons-container > a{
    margin:auto;
  }
  .TS2_header2_buttons-container > a .margin-L0{
    margin: 1em;
  }

  .TS2_header2-info{
    width:80%;
    margin: 1rem auto;
  }
  .TS2_header2 > .sdb2-wrapper{
    bottom: 5vh;
  }
  .TS2_header2 > .sdb2-wrapper > a > span{
    border-left: 2px solid var(--white-normal);
    border-bottom: 2px solid var(--white-normal);
  }
  /*1. TS2_HEADER2*/

 /*2. TS2_FEATURED2*/
  .TS2_featured2_items-wrapper{
    grid-template-columns: repeat(2,1fr);
    width:75%;
    margin:3rem 0;
  }

  .TS2_featured2_items {
    margin: 0 auto;
  }
  /*2. TS2_FEATURED2*/

  /*5. TS2_FEATURED1*/
  .TS2_featured1_container{
    margin-bottom: 2rem;
  }
  /*5. TS2_FEATURED1*/
}/*IPad Pro*/

@media screen and (max-width:900px){
    /*0. POPUP1*/
    .popup1_content{
      max-width: 70%;
    }
    /*0. POPUP1*/
  /*1. TS2_HEADER2*/
  .TS2_header2{
    min-height: 100%;
  }
  .TS2_header2_buttons-container {
    align-items: center;
    justify-content: center;
  }

  .TS2_header2_buttons-container > a .margin-L0{
    margin: 1em;
  }
.TS2_header2-info{
    width:90%;
    margin: 4rem auto;
  }
  /*1. TS2_HEADER2*/

 /*2. TS2_FEATURED2*/
 .TS2_featured2_items-wrapper{
  grid-template-columns: repeat(2,1fr);
  width:75%;
  margin:3rem 0;
  }

  .TS2_featured2_items {
    margin: 0 auto;
  }
/*2. TS2_FEATURED2*/

  /*4. TS2_PRO-DET1*/
  .TS2_pro-det1_wrapper {
    flex-flow: column;
  }

  .TS2_pro-det1_container1 {
    order: 2;
    min-width: 100%;
    height: auto;
  }

  .TS2_pro-det1_info{
    width:80%;
    margin: 2rem auto;
  }
  
  .TS2_pro-det1_h2{
    margin: 0;
    text-align: center;
  }

  .TS2_pro-det1_p1{
    text-align: center;
  }
  .TS2_pro-det1_note-container{
    width:100%;
    align-items: center;
  }

  .TS2_pro-det1_note-container > .note1{
    margin: 0.5rem 0;
  }

  .TS2_pro-det1_container2 {
    min-height: 75vh;
    width: 100%;
    justify-content: center;
    order: 1;
    align-self: center;
  }
  
  .TS2_pro-det1_buttons-container {
    align-items: center;
    justify-content: center;
  }

  .TS2_pro-det1_buttons-container > a .margin-L0{
    margin: 1em;
  }
  #svgb-fix{
    margin-bottom: 0;
  }
  /*4. TS2_PRO-DET1*/
  /*5. TS2_FEATURED1*/
  .TS2_featured1_container{
    margin-bottom: 2rem;
  }
  .TS2_featured1_items-wrapper{
    margin: 3rem 0 0 0;
  }
  #TS2_featured1_items-wrapper_note-1{
    display: none;
  }/*tip on desktop*/
  
  #TS2_featured1_items-wrapper_note-2{
  display: block;
  }/*tip on mobile*/
  /*5. TS2_FEATURED1*/

  /*7. TS2_quote2*/
  .TS2_quote2_container{
    width: 90%;
    flex-flow: column nowrap;
  }

  .TS2_quote2_L{
    order:2;
    width: 90%;
  }
  .TS2_quote2_h2s,.TS2_quote2_p1s{
    text-align: center;
  }
  .TS2_quote2_L .buttons-container {
    justify-content: center;
    margin: auto;
  }
  .TS2_quote2_L > .note-container{
    width:100%;
    margin: 2rem auto;
    justify-content: center;
  }
  .TS2_quote2_L .buttons-container > .margin-L0 {
    margin: 1em;
  }
  .TS2_quote2_R{
    order: 1;
    width: 55%;
    margin: 0 auto 2rem auto;
  }
  .TS2_quote2_R > .square-items1{
    margin: 0;
  }
  /*7. TS2_quote2*/
}/*Tablets*/

@media screen and (max-width:600px){
  /*0. POPUP1*/
  .popup1_content{
    max-width: 90%;
    padding: 1rem;
  }

  .popup1_i1{ 
    margin:1rem auto 0.5rem auto;
  }
  /*0. POPUP1*/

  /*1. TS2_HEADER2*/
  .TS2_header2-info{
    width:100%;
    padding: 0.5rem;
  }
  .TS2_header2 > .sdb2-wrapper{
    bottom: 5vh;
  }

  /*.TS2_header2_note-container{
    width:100%;
    align-items: center;
    justify-content: center;
  }

  .TS2_header2_note-container > .note1,
  .TS2_header2_note-container > p >.note-lt{
    margin: 0.5rem auto;
  }*/
  /*1. TS2_HEADER2*/

 /*2. TS2_FEATURED2*/
 .TS2_featured2_h2,
 .TS2_featured2_p1{
  width: 100%;
 }
 .TS2_featured2_items-wrapper{
  grid-template-columns:1fr;
  width:80%;
  margin: 4rem auto 2rem auto;
}

.square-items2{
  width:55%;
}
/*2. TS2_FEATURED2*/

  /*4. TS2_PRO-DET1*/
  .TS2_pro-det1_container1 {
    padding: 1rem 2rem;
  }

  .TS2_pro-det1_info{
    width:100%;
  }
  .TS2_pro-det1_note-container{
    width:100%;
    align-items: flex-start;
  }

  .TS2_pro-det1_note-container > .note1{
    margin: 0.5rem 0;
  }
  .TS2_pro-det1_container2{
    width:100%;
  }
  /*4. TS2_HEADER1*/

  /*5. TS2_FEATURED1*/
  .TS2_featured1_items-wrapper{
    width:90%;
  }
  .TS2_featured1_h2{
    width:100%
  }
  .TS2_featured1_p1{
    width:100%
  }
  .TS2_featured1_items{
    width:100%;
    justify-content: center;
  }

  /*5. TS2_FEATURED1*/

  /*7. TS2_quote2*/
  .TS2_quote2_L{
    width:100%;
  }

  .TS2_quote2_R{
    width: 80%;
    margin:0 auto 2rem auto;
  }
  .TS2_quote2_R > .square-items1{
    margin: 0;
  }
  /*7. TS2_quote2*/
}/*Smartphones*/

@media screen and (max-width:900px) and (orientation:landscape){
    /*0. POPUP1*/
    .popup1_content{
      max-width: 100%;
      padding: 0.5rem;
    }
    .popup1_i1{ 
      display: none;
    }
    /*0. POPUP1*/
  /*1. TS2_HEADER2*/
  .TS2_header2-info{
    width:80%;
    padding: 0.8rem;
  }
  .TS2_header2 > .sdb2-wrapper{
    bottom: 10vh;
  }
  /*1. TS2_HEADER2*/

 /*2. TS2_FEATURED2*/
 .TS2_featured2_items-wrapper{
  grid-template-columns:repeat(2, 1fr);
  gap: 2rem;
  width:90%;
  margin: 3rem auto 1rem auto;
}
.square-items2{
  width:50%;
}
/*2. TS2_FEATURED2*/

  /*4. TS2_PRO-DET1*/
  .TS2_pro-det1_container1 {
    padding: 0.5rem 2.5rem;
  }
  
  .TS2_pro-det1_container2 {
    height: 100vh;
  }
  /*4. TS2_PRO-DET1*/

  /*5. TS2_FEATURED1*/
  .TS2_featured1_items-wrapper{
    width:85%;
  }
  .TS2_featured1_item-description {
    padding: 1rem;
  }

  .TS2_featured1_items{
    min-width:100%;
    flex-flow: row nowrap;
    justify-content: center;
  }

  .square-items1_content{
    width:auto;
  }
  .square-items1:after {
    content: "";
    display: block;
    padding-top: 110%;
  }
  /*5. TS2_FEATURED1*/

  /*7. TS2_quote2*/
  .TS2_quote2_L{
    width:100%;
  }

  .TS2_quote2_R{
    width: 40%;
    margin:0 auto 2rem auto;
  }
  .TS2_quote2_R > .square-items1{
    margin: 0;
  }
  /*7. TS2_quote2*/
}/*Smartphones on landscape*/

/*!==== MEDIA QUERIES====*/
